<%= render 'shared/error_messages' %>

<%= f.label :name %>
<br>
<%= f.text_field :name, class: "form-group form-control" %>

<%= f.label "Add Image" %>
<br>
<%= f.file_field :avatar, class: "form-group form-control" %>

<%= f.label :title %>
<br>
<%= f.text_field :title, class: "form-group form-control" %>

<%= f.label :email %>
<br>
<%= f.text_field :email, class: "form-group form-control" %>

<%= f.label :password %>
<br>
<%= f.password_field :password, class: "form-group form-control" %>

<%= f.label :password_confirmation, "Confirm Password" %>
<br>
<%= f.password_field :password_confirmation, class: "form-group form-control" %>
</div>
