<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <br>
        <%= @user.title %>

      </h1>
    </section>

<%= image_tag @user.avatar.url(:medium) %>
<br>

<% if current_user = user_path %>
  <button>Contact <%= @user.name %></button>

  <% else %>
  <button>Edit Profile</button>
<% end %>


  </div>
</div>
